
<%= form_for(@task, :url => @task.new_record? ? project_tasks_path(params[:project_id]) : 
                                                project_task_path(params[:project_id], @task)) do |f| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field span-12 last">
  <%= f.label :title, :class => "span-3" %>
  <%= f.text_field :title, :class => "span-9 last" %>
</div>
<div class="field span-12 last">
  <%= f.label :specification, :class => "span-3" %>
  <%= f.text_area :specification, :class => "span-9 last" %>
</div>
<div class="field span-12 last">
  <%= f.label :delivers_user_functionality, :class => "span-3" %>
  <%= f.check_box :delivers_user_functionality %>
</div>

<% if not @task.new_record? %>
<div class="field span-12 last">
  <%= f.label :progress, :class => "span-3" %>
  <% if @task.progress == "proposed" %>
    <%= f.select :progress, {t(".proposed") => "proposed", t(".inProgress") => "inProgress", t(".delivered") => "delivered"} %>
  <% else %>
    <%= f.select :progress, {t(".inProgress") => "inProgress", t(".delivered") => "delivered"} %>
  <% end %>
</div>
<% end %>

<div class="field span-12 last">
  <%= f.label :priority, :class => "span-3" %>
  <%= f.select :priority, {"" => "", t(".low") => "1", t(".medium") => "2", t(".high") => "3"} %>
</div>

<!--
<div class="field span-12 last">
  <%= f.label :namespace, :class => "span-3" %>
  <%= f.text_field :namespace, :class => "span-9 last" %>
</div>
-->
<div class="actions span-8">
  <%= f.submit %>
</div>
<div class="span-4 last" style="text-align: right">
  <%= link_to t(".back"), project_tasks_path(params[:project_id]) %>
  <% if (not @task.new_record?) %> 
    <% if @task.progress == "proposed" %>
      &nbsp; &nbsp;
      <%= link_to 'Destroy', project_task_path(params[:project_id], params[:id]), :method => :delete %>
    <% elsif @task.progress == "inProgress" %>
      &nbsp; &nbsp;
      <%= link_to 'Destroy', project_task_path(params[:project_id], params[:id]), :method => :delete, :confirm => 'By deleting this task you are indicating that the effort invested so far has been wasted and no part of it will be delivered. Continue?' %>
    <% end %>
  <% end %>
</div>
<% end %>

