<h2><%= t ".tasks" %></h2>

<table>
  <tr>
    <th><%= t ".title" %></th>
    <th><%= t ".specification" %></th>
    <th><%= t ".delivers-user-functionality" %></th>
    <th><%= t ".progress" %></th>
    <th><%= t ".priority" %></th>
    <th><%= t ".namespace" %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.specification %></td>
    <td><%= task.delivers_user_functionality %></td>
    <td><%= task.progress %></td>
    <td><%= task.priority %></td>
    <td><%= task.namespace %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
