
<div class="ltl-tasks span-24 last">
  <div class="ltl-task-bucket span-8">
    <div class="ltl-bucket-title span-8 last">
      <%= image_tag 'proposed.png' %>
      <span><%= t ".proposed" %></span>
      <%= link_to "[#{t('.new')}]", new_project_task_path(@project), :id => 'new' %>
    </div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @proposed_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to(truncate(task.title, :length => 47), 
	              edit_project_task_path(@project, task)) %>
	</div>
	<div class="ltl-task-colab span-4 prepend-1">
	  <%= task.collaborators %>&nbsp;
	</div>
	<div class="ltl-task-info span-3 last quiet">
	  <%= t ".priority" %>: 
	  <%= image_tag priority_image(1, task) %>
	  <%= image_tag priority_image(2, task) %>
	  <%= image_tag priority_image(3, task) %>
	  <br/>
	  <%= t ".user-functionality" %>: <%= user_functionality_display task.delivers_user_functionality %>
	</div>
      </div>
      <% end %>
    </div>
  </div> <%# proposed bucket %>

  <div class="ltl-task-bucket span-8">
    <div class="ltl-bucket-title span-8 last">
      <%= image_tag 'inprogress.png' %>
      <span><%= t ".work-in-progress" %></span>
    </div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @inProgress_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to(truncate(task.title, :length => 47), 
	      edit_project_task_path(@project, task)) %>
	</div>
	<div class="ltl-task-colab span-4 prepend-1">
	  <%= task.collaborators %>&nbsp;
	</div>
	<div class="ltl-task-info span-3 last quiet">
	  <%= t ".cost" %>: <%= (calc_cost task).truncate %>
	  <br/>
	  <%= t ".started-on" %>: <%= task.work_started_at.strftime("%y-%m-%d") %>
	</div>
      </div>
      <% end %>
    </div>    
  </div> <%# in progress bucket end %>

  <div class="ltl-task-bucket span-8 last">
    <div class="ltl-bucket-title span-8 last">
      <%= image_tag 'delivered.png' %>
      <span><%= t ".delivered-to-user" %></span>
    </div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @delivered_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to(truncate(task.title, :length => 47), 
	      edit_project_task_path(@project, task)) %>
	</div>
	<div class="ltl-task-colab span-4 prepend-1">
	  <%= task.collaborators %>&nbsp;
	</div>
	<div class="ltl-task-info span-3 last quiet">
	  <%= t ".cost" %>: <%= (calc_cost task).truncate %>
	  <br/>
	  <%= t ".deployed-on" %>: <%= task.delivered_at.strftime("%y-%m-%d") if not task.delivered_at.nil? %>
	</div>
      </div>
      <% end %>
    </div>
  </div> <%# delivered bucket end %>

</div>

<%# error copied code and didnt add closing ) %>
<%# error: forgot to add the t() function to translation declaration %>
