
<div class="ltl-tasks span-24 last">
  <div class="ltl-task-bucket span-8">
    <div class="ltl-bucket-title span-8 last">
      Proposed
      <%= link_to '[new]', new_task_path, :id => 'new' %>
    </div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @proposed_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to(truncate(task.title, :length => 52), 
	              edit_task_path(task)) %>
	</div>
	<div class="span-3 prepend-1"><i>mderosa</i></div>
	<div class="span-4 last quiet">
	  Priority: <%= task.priority %>
	  <br/>
	  User Func: <%= task.delivers_user_functionality %>
	</div>
      </div>
      <% end %>
    </div>
  </div> <%# proposed bucket %>

  <div class="ltl-task-bucket span-8">
    <div class="ltl-bucket-title span-8 last">Work in Progress</div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @inProgress_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to task.title, edit_task_path(task) %>
	</div>
	<div class="span-3 prepend-1"><i>mderosa</i></div>
	<div class="span-4 last quiet">
	  Cost: <%# calc_cost task %>
	  <br/>
	  Done on: <%= task.work_finished_at.strftime("%y-%m-%d") if not task.work_finished_at.nil? %>
	</div>
      </div>
      <% end %>
    </div>    
  </div> <%# in progress bucket end %>

  <div class="ltl-task-bucket span-8 last">
    <div class="ltl-bucket-title span-8 last">Delivered to User</div>
    <div class="ltl-bucket-tasks span-8 last">
      <% @delivered_tasks.each do |task| %>
      <div class="ltl-task-summary span-8 last">
	<div class="ltl-task-title span-8 last">
	  <%= link_to task.title, edit_task_path(task) %>
	</div>
	<div class="span-3 prepend-1"><i>mderosa</i></div>
	<div class="span-4 last quiet">
	  Cost: <%# calc_cost task %>
	  <br/>
	  Deployed on: <%= task.delivered_at.strftime("%y-%m-%d") if not task.delivered_at.nil? %>
	</div>
      </div>
      <% end %>
    </div>
  </div> <%# delivered bucket end %>

</div>
