
<div class="ltl-chart span-24 last">
  <h2>Deliveries per Day</h2>

  <%= javascript_tag "var xbardata = #{JSON.dump(@chart_data)}" %>
  <div id="xbar"></div>
  <%= javascript_include_tag "controlchart" %>

  <div class="ltl-stats span-12">
    Upper control limit: <%= @chart_data[:xbarucl] %><br/>
    Process average: <%= @chart_data[:xbarbar] %><br/>
    Lower control limit: <%= @chart_data[:xbarlcl] %>
  </div>
  <div class="ltl-stats-explanation span-12 last">
    Attempt to raise the average number of deliveries per day. If the ucl is exceeded then the group is probably 
    grouping all their deliveries together in on 'big bang'. If the lcl is fallen below then the group is
    losing velocity. 
  </div>

</div>

