
<div class="ltl-chart span-24 last">
  <h2><%= t ".deliveries-per-day" %></h2>

  <%= javascript_tag "var xbardata = #{JSON.dump(@chart_data)}" %>
  <div id="xbar"></div>
  <%= javascript_include_tag "controlchart" %>

  <div class="ltl-stats span-12 prepend-1 loud">
    <%= t ".upper-control-limit" %> (ucl): <%= @chart_data[:xbarucl] %><br/>
    <%= t ".process-average" %> (avg): <%= @chart_data[:xbarbar] %><br/>
    <%= t ".lower-control-limit" %> (lcl): <%= @chart_data[:xbarlcl] %>
  </div>
  <div class="ltl-stats-explanation span-10 last quiet small append-1">
    Attempt to raise the average number of deliveries per day. If data exceeds the ucl then the group may be
    improving their delivery rate (good) or 
    grouping all their deliveries together in one 'big bang' (bad). If the data falls below the lcl then the group is
    losing velocity. 
  </div>

</div>

