<div class="span-12">
  <div class="ltl-icon-header">
    <% logo_individual = image_tag 'individual.png' %>
    <%= link_to logo_individual, project_statistic_path(params[:project_id], "individual") %>
    <h2>
      <%= t ".individual-statistics" %>
    </h2>
  </div>

  <p>
    <%= t ".explanation-individual" %>
  </p>
</div>

<div class="span-12 last">
  <div class="ltl-icon-header">
    <% logo_team = image_tag 'team.png' %>
    <%= link_to logo_team, project_statistic_path(params[:project_id], "team") %>
    <h2>
      <%= t ".team-statistics" %>
    </h2>
  </div>
  <p>
    <%= t ".explanation-team" %>
  </p>
</div>

