
<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field span-12 last">
  <%= f.label :email, :class => "span-3" %>
  <%= f.text_field :email, :class => "span-9 last" %>
</div>
<div class="field span-12 last">
  <%= f.label :password, :class => "span-3" %>
  <%= f.password_field :password, :class => "span-9 last" %>
</div>
<div class="field span-12 last">
  <%= f.label :password_confirmation, :class => "span-3" %>
  <%= f.password_field :password_confirmation, :class => "span-9 last" %>
</div>
<div class="actions span-12 last">
  <%= f.submit %>&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Back', home_path %>
</div>
<% end %>

