
<% @project.users.each do |u| %>
<div class="span-7 last">
  <%= u.email %>&nbsp;&nbsp;
  <%= link_to 'Remove', project_collaborator_path(@project, u), :method => :delete %>
</div>
<% end %>

<%# form to add a new user %>
<%= form_for(User.new, :url => project_collaborators_path(@project)) do |f| %>
<div class="field span-7 last">
  <%= f.text_field :email %>
  <%= f.submit "Add collaborator" %>
</div>  
<% end %>
