
<div class="span-24 last">
<p id="notice"><%= notice %></p>
</div>

<div class="ltl-projects-list span-15">
  <h2>Your Projects</h2>
  <h5 class="span-4">Name</h5>
  <h5 class="span-9"><%= t ".recent-activity" %></h5>
  <h5 class="span-2 last">Actions</h5>
  <hr/>

  <% @projects.each do |project| %>
  <div class="ltl-project-summary span-15 last">
    <div class="span-4">
      <h3>
	<%= link_to project.name, project_tasks_path(project) %>
      </h3>
    </div>

    <div class="ltl-project-tasks span-9">
      <% if @project_tasks[project].empty? %>
      <p><%= t ".none" %></p>
      <% else %>
        <% @project_tasks[project].each do |tsk| %>
        <p>[&nbsp;<%= t(".#{tsk.progress}") %>&nbsp;]&nbsp;<%= tsk.title %></p>
        <% end %>
      <% end %>
    </div>

    <div class="span-2 last">
      <%= link_to "edit", edit_project_path(project) %>
      &nbsp;
      <a href="#">remove</a>
    </div>
  </div>
  <hr/>
  <% end %>

</div>

<div class="span-8 prepend-1 last">
  
  <div class="ltl-project-action span-8 last">
    <h2>Create a Project</h2>

    <%= form_for(Project.new) do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "span-8" %><br/>
    <%= f.label :repository %><br/>
    <%= f.text_field :repository, :class => "span-8" %><br/>
    <%= f.submit %>
    <% end %>
  </div>
  
</div>

<%# error: forgot to add closing erb tag %>
