
<div class="ltl-projects-list span-15">
  <h2 class="heading"><%= t ".your-projects" %></h2>
  <h5 class="span-4"><%= t ".name" %></h5>
  <h5 class="span-9"><%= t ".recent-activity" %></h5>
  <h5 class="span-2 last"><%= t ".actions" %></h5>
  <hr/>

  <% @projects.each do |project| %>
  <div class="ltl-project-summary span-15 last">
    <div class="span-4">
      <h3>
	<%= link_to project.name, project_tasks_path(project) %>
      </h3>
    </div>

    <div class="ltl-project-tasks span-9">
      <% if @project_tasks[project].empty? %>
      <p><%= t ".none" %></p>
      <% else %>
        <% @project_tasks[project].each do |tsk| %>
        <div>
	  <strong>[</strong>&nbsp;<%= t(".#{tsk.progress}") %>&nbsp;<strong>]</strong>
	  <%= tsk.title %>
	</div>
        <% end %>
      <% end %>
    </div>

    <div class="span-2 last">
      <%= link_to "#{t '.edit'}", edit_project_path(project) %>
    </div>
  </div>
  <hr/>
  <% end %>

</div>

<div class="span-8 prepend-1 last">
  
  <div class="ltl-project-action span-8 last">
    <h2 class="heading"><%= t ".create-a-project" %> </h2>

    <%= form_for(Project.new) do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name, :class => "span-8" %><br/>
    <%= f.label :repository %><br/>
    <%= f.text_field :repository, :class => "span-8" %><br/>
    <%= f.submit %>
    <% end %>
  </div>
  
</div>

<%# error: forgot to add closing erb tag %>
