
<header class="span-24 last">
     <% logo = image_tag 'lotl-logo.png' %>
     <%= link_to logo, home_path, :alt => "Law of the Loop" %>

  <% if show_menu?(params) %>
  <div class="span-24 ltl-menu last">
    <nav class="ltl-project-menu span-21 last">
      <% if show_current_project? %>
        <span class="ltl-current-project">
  	<%= current_project %>:
        </span>
      <% end %>
      <% if show_task_selections?(params) %>
        <%= link_to t(".tasks"), project_tasks_path(params[:project_id]) %>
	<%= link_to t(".statistics"), project_statistics_path(params[:project_id]) %>
      <% end %>
    </nav>

    <nav class="ltl-application-menu span-3 last">
      <%= link_to t(".home"), projects_path %>
    </nav>
  </div>
  <% else %>
  <hr/>
  <% end %>

</header>

