
<header class="span-24 last">
  <h1><%= link_to 'Law of the Loop', home_path %></h1>

  <% if show_menu?(params) %>
  <div class="span-24 ltl-menu last">
    <nav class="ltl-project-menu span-21">
      <% if show_current_project? %>
        <span class="ltl-current-project">
  	<%= current_project %>:
        </span>
      <% end %>
      <% if show_task_selections?(params) %>
        <%= link_to 'Tasks', project_tasks_path(params[:project_id]) %>
	<%= link_to 'Statistics', project_statistics_path(params[:project_id]) %>
      <% end %>
    </nav>

    <nav class="ltl-application-menu span-3 last">
      <%= link_to 'Home', projects_path %>
    </nav>
  </div>
  <hr class="space"/>
  <% else %>
  <hr/>
  <% end %>

</header>

